<div class="modal-dialog modal-dialog-top modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">Update Status</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-row">


          <!--Start Date  -->
          <div class="col-md-3 mb-3">
            <label for="validationDefault02">Date</label>
            <input type="Date" class="form-control" id="validationDefault02" value="" required>
          </div>
          <!--Project ID  -->

          <div class="col-md-3 mb-3">
            <label for="validationDefault01">Task</label>
            <select class="form-control">
            <option >Today's Task</option>
          </select>
          </div>

          <!--Project Name  -->
          <div class="col-md-3 mb-3">
            <label for="validationDefault02">Resources</label>
            <input type="text" class="form-control input-lg" id="validationDefault02" placeholder="Project Names" value="" required>
          </div>

          <!-- Client -->
          <div class="col-md-3 mb-3">
            <label for="validationDefault02">Current Status</label>
            <select class="form-control">
            <option>Addressing comments</option>
          </select>
          </div>


          <!-- Clarifications -->
          <div class="col-md-3 mb-3">
            <label for="validationDefault02">Clarifications</label>
            <textarea class="form-control" rows="2" id="comment"></textarea>
          </div>

          <!-- Issues/Concerns -->
          <div class="col-md-3 mb-3">
            <label for="validationDefault02">Issues and Concerns</label>
            <textarea class="form-control" rows="2" id="comment"></textarea>
          </div>

          <!-- Issues/Concerns -->
          <div class="col-md-3 mb-3">
            <label for="validationDefault02">Remarks</label>
            <textarea class="form-control" rows="2" id="comment"></textarea>
          </div>
        </div>

      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary btn-sm">Save changes</button>
    </div>
  </div>
</div>