<!--Generating Badges  -->
<div class="container-fluid">

  <div class="card-deck ">
    <div class="card text-center ">
      <div class="card-header bg-secondary text-white">HTML</div>
      <div class="card-body">
        <app-badge></app-badge>
      </div>

    </div>
    <div class="card text-center ">
      <div class="card-header bg-secondary text-white">TECH</div>
      <div class="card-body">
        <app-badge></app-badge>
      </div>

    </div>

    <div class="card text-center ">
      <div class="card-header bg-secondary text-white">EDITORIAL</div>
      <div class="card-body">
        <app-badge></app-badge>
      </div>

    </div>

    <div class="card text-center ">
      <div class="card-header bg-secondary text-white">QA</div>
      <div class="card-body">
        <app-badge></app-badge>
      </div>

    </div>

    <div class="card text-center ">
      <div class="card-header bg-secondary text-white">PM</div>
      <div class="card-body">
        <app-badge></app-badge>
      </div>

    </div>

    <div class="card text-center ">
      <div class="card-header bg-secondary text-white">CLIENT</div>
      <div class="card-body">
        <app-badge></app-badge>
      </div>

    </div>

    <div class="card text-center ">
      <div class="card-header bg-secondary text-white">CLOSED</div>
      <div class="card-body">
        <app-badge></app-badge>
      </div>

    </div>

  </div>

</div>




<!--Spacing  -->
<div class="row v_spacing"></div>

<app-project-snapshot></app-project-snapshot>
 <!-- [childVar]="parentVar" -->
<div class="row v_spacing"></div>

<!--New project button  -->


<!--Project Status table  -->`
<div class="container-fluid">
  <!-- <div class="row"> -->
    <div>
      <button type="button" class="btn btn-primary" routerLink="/newProject"><i class="fa fa-plus"> </i>&nbsp;Add New Project</button>
      <button type="button" class="btn btn-primary"><i class="fa fa-calculator"> </i>&nbsp;Effort Calculator</button>
      <button type="button" title="Print" class="btn btn-primary"><i class="fa fa-print"> </i></button>
      <button type="button" title="Export to Excel" class="btn btn-primary"><i class="fa fa-file-excel-o"> </i></button>
    </div>
  <!-- </div> -->
  <div class="text-center bg-white">
    <h5 style="color:#23B7E5">CURRENT PROJECT STATUS</h5>
  </div>
  <!-- <div class="row"> -->
    <table class="table table-bordered table-condensed">
      <thead>
        <tr>
          <th>ProjectId</th>
          <th>Project Name</th>
          <th>Task</th>
          <th>Resource</th>
          <th>Current Status</th>
          <th>Requirements</th>
          <th>Issues/Concerns</th>
          <th>Remarks</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody class="bg-white">
        <tr *ngFor="let proDetails of projectDetails">
          <td>{{proDetails.projectId}}</td>
          <td>{{proDetails.projectName}}</td>
          <td>{{proDetails.task}}</td>
          <td>{{proDetails.resource}}</td>
          <td>{{proDetails.currentStatus}}</td>
          <td>{{proDetails.requirements}}</td>
          <td>{{proDetails.issues}}</td>
          <td>{{proDetails.remarks}}</td>
          <td>
            <button type="button" class="btn btn-link btn-sm" title="Update status" data-toggle="modal" data-target="#newModalWindow"><i class="material-icons" style="color:black"> update</i></button>
            <button type="button" class="btn btn-link btn-sm" title="History" routerLink="/projectHistory"><i class="fa fa-history" style="color:black"> </i></button>
            <button type="button" class="btn btn-link" title="Archive"><i class="fa fa-archive"> </i></button>
          </td>
        </tr>
      </tbody>
    </table>
  <!-- </div> -->
</div>

<div class="modal fade" id="newModalWindow" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <app-modal-window></app-modal-window>
</div>