<div class="container-fluid">

<div class="card">
  <h5 class="card-header">Featured</h5>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>



  <div class="card-group">
    <div class="card text-center ">
      <div class="card-header"><b>Project ID</b></div>
      <div class="card-body">
        Project- 0001
      </div>
    </div>

    <div class="card text-center ">
      <div class="card-header"><b>Project ID</b></div>
      <div class="card-body">
        Project- 0001
      </div>
    </div>

    <div class="card text-center ">
      <div class="card-header"><b>Project ID</b></div>
      <div class="card-body">
        Project- 0001
      </div>
    </div>

    <div class="card text-center ">
      <div class="card-header"><b>Project ID</b></div>
      <div class="card-body">
        Project- 0001
      </div>
    </div>

    <div class="card text-center ">
      <div class="card-header"><b>Project ID</b></div>
      <div class="card-body">
        Project- 0001
      </div>
    </div>
    <div class="card text-center ">
      <div class="card-header"><b>Project ID</b></div>
      <div class="card-body">
        Project- 0001
      </div>
    </div>
    <div class="card text-center ">
      <div class="card-header"><b>Project ID</b></div>
      <div class="card-body">
        Project- 0001
      </div>
    </div>
    <div class="card text-center ">
      <div class="card-header"><b>Project ID</b></div>
      <div class="card-body">
        Project- 0001
      </div>
    </div>
    <div class="card text-center ">
      <div class="card-header"><b>Project ID</b></div>
      <div class="card-body">
        Project- 0001
      </div>
    </div>
  </div>




  <div class="row">
    <h5>PROJECT DETAILS</h5>
  </div>

  <div class="row " >
    <div class="col-sm-8 bg-white"  style="border:1px solid #000; padding-top:10px; padding-bottom:10px;">
      <div class="row">

        <div class="col-sm-4">
          <div><b>Project ID :</b> Project- 0001</div>
          <div>Project Name : ProjectName</div>
          <div>Delivery Type : Website</div>
        </div>

        <div class="col-sm-4">
          <div>Start Date : 02/10/2017</div>
          <div>Delivery Date : 05/02/2018</div>
          <div>Platform : Sitecore</div>
        </div>

        <div class="col-sm-4">
          <div>HTML Lead : Mohan Rajanna</div>
          <div>Project Manager : Renjith</div>
          <div>Current Status : With QA</div>
        </div>
      </div>
    </div>
  </div>


  <!--Date wise project status history  -->
  <div class="row v_spacing"></div>
  <div class="row container-fluid">
    <h5>PROJECT WORK HISTORY</h5>
  </div>
  <div class="row">
    <div class="col-md-8">
      <table class="table table-bordered table-condensed bg-white">
        <thead>
          <tr>
            <th>Date</th>
            <th>Status</th>
            <th>Requirement/Clarification</th>
            <th>Issues/Concerns/Risks</th>
            <th>Remarks</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>01/03/2018</td>
            <td>With QA</td>
            <td>Project requirement and Clarification</td>
            <td>Project issues and Concerns</td>
            <td>Project level Remarks</td>
          </tr>

          <tr>
            <td>02/03/2018</td>
            <td>With QA</td>
            <td>Project requirement and Clarification</td>
            <td>Project issues and Concerns</td>
            <td>Project level Remarks</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>