<div class="container-fluid">

  <div class="card">
    <h5 class="card-header">Project Name : Indegene sitecore</h5>
    <div class="card-body">
      <table class="table table-bordered table-condensed bg-white">
        <tr>
          <th>Project ID</th>
          <td>Project 1 Project 20 hello</td>
          <th>Project Name</th>
          <td>02/10/2017</td>
          <th>Delivery Type</th>
          <td>02/10/2017</td>
          <th>Platform</th>
          <td>Mohan rajanna</td>
        </tr>
        <tr>
          <th>HTML Start Date</th>
          <td>Project 1</td>
          <th>Delivery Date</th>
          <td>02/10/2017</td>
          <th>HTML Lead</th>
          <td>02/10/2017</td>
          <th>Project Manager</th>
          <td>Renjith</td>
        </tr>


      </table>
    </div>
    <div class="row container-fluid">
      <div class="col-md-8">
        <h5 class="card-title">Work History</h5>
        <table class="table table-bordered table-condensed bg-white">
          <thead>
            <tr>
              <th>Date</th>
              <th>Status</th>
              <th>Requirement/Clarification</th>
              <th>Issues/Concerns/Risks</th>
              <th>Remarks</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>01/03/2018</td>
              <td>With QA</td>
              <td>Project requirement and Clarification</td>
              <td>Project issues and Concerns</td>
              <td>Project level Remarks</td>
            </tr>

            <tr>
              <td>02/03/2018</td>
              <td>With QA</td>
              <td>Project requirement and Clarification</td>
              <td>Project issues and Concerns</td>
              <td>Project level Remarks</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-4">
        <h5 class="card-title">Paths/Documents</h5>
        <table class="table table-bordered table-condensed bg-white">
          <tr>
            <th>SVN</th>
          </tr>
          <tr>
            <td>Path of the SVN</td>
          </tr>
          <tr>
            <th>CheckList</th>
          </tr>
          <tr>
            <td>Path of the checklist</td>
          </tr>
          <tr>
            <th>FRS</th>
          </tr>
          <tr>
            <td>Path of the FRS</td>
          </tr>

        </table>

      </div>
    </div>
  </div>






  <!--Date wise project status history  -->

</div>