<!-- <div class="card-deck"> -->
<div class="container-fluid">
  <div class="row">
    
    <div class="col-sm-3">
      <div class="card border-info cardShadow">
        <img class="card-img-top border-info" src="../../assets/html_css3.jpg" alt="Card image cap" style="max-height:150px;">
        <div class="card-body">
          <h5 class="card-title">HTML and CSS3</h5>
          <hr>
          <p class="card-text">Resources for HTML5 and CSS3</p>
          <button class="btn btn-primary btn-sm" routerLink="/projectDetails">Explore</button>
        </div>
      </div>
    </div>


    <div class="col-sm-3">
      <div class="card border-info cardShadow">
        <img class="card-img-top border-info" src="../../assets/javascript.jpg" alt="Card image cap" style="max-height:150px;">
        <div class="card-body">
          <h5 class="card-title">JavaScript and JQuery</h5>
          <hr>
          <p class="card-text">Resources for JavaScript and JQuery</p>
          <button class="btn btn-primary btn-sm" routerLink="/projectDetails">Explore</button>
        </div>
      </div>
    </div>


    <div class="col-sm-3">
      <div class="card border-info cardShadow">
        <img class="card-img-top border-info" src="../../assets/bootstrap.jpg" alt="Card image cap" style="max-height:150px;">
        <div class="card-body">
          <h5 class="card-title">Bootstrap</h5>
          <hr>
          <p class="card-text">Resources for Bootstrap</p>
          <button class="btn btn-primary btn-sm" routerLink="/projectDetails">Explore</button>
        </div>
      </div>
    </div>


    <div class="col-sm-3">
      <div class="card border-info cardShadow">
        <img class="card-img-top border-info" src="../../assets/angularReact.png" alt="Card image cap" style="max-height:150px;">
        <div class="card-body">
          <h5 class="card-title">Angular JS and React</h5>
          <hr>
          <p class="card-text">Resources for Angular JS and React</p>
          <button class="btn btn-primary btn-sm" routerLink="/projectDetails">Explore</button>
        </div>
      </div>
    </div>


    <div class="col-sm-3">
      <div class="card border-info cardShadow">
        <img class="card-img-top border-info" src="../../assets/emailer.jpg" alt="Card image cap" style="max-height:150px;">
        <div class="card-body">
          <h5 class="card-title">Emailers</h5>
          <hr>
          <p class="card-text">Resources for Emailers</p>
          <button class="btn btn-primary btn-sm" routerLink="/projectDetails">Explore</button>
        </div>
      </div>
    </div>


    <div class="col-sm-3">
      <div class="card border-info cardShadow">
        <img class="card-img-top border-info" src="../../assets/veeva.png" alt="Card image cap" style="max-height:150px;">
        <div class="card-body">
          <h5 class="card-title">Veeva</h5>
          <hr>
          <p class="card-text">Resources for Veeva Vault</p>
          <button class="btn btn-primary btn-sm" routerLink="/projectDetails">Explore</button>
        </div>
      </div>
    </div>

    
  </div>
</div>