<div class="row">
<div class="col-sm-1"></div>
<div class="col-sm-10">
<div class="card-deck">
    <!-- <div class="row"></div> -->
  <div class="card border-info cardShadow">
    <img class="card-img-top" src="../../assets/dashboard.png" alt="Card image cap" style="max-height:150px;">
    <div class="card-body">
      <h5 class="card-title">Project Status</h5>
      <hr>
      <p class="card-text">Update the daily project status.</p>
      <button class="btn btn-primary">Dashboard</button>
    </div>
  </div>
  <div class="card border-info cardShadow">
    <img class="card-img-top" src="../../assets/Tech_Links.jpg" alt="Card image cap" style="max-height:150px;">
    <div class="card-body">
      <h5 class="card-title">Knowledge Circle</h5>
      <hr>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card border-info cardShadow">
    <img class="card-img-top" src="../../assets/effort_calculator.jpg" alt="Card image cap" style="max-height:150px;">
    <div class="card-body">
      <h5 class="card-title">Effort Calculator</h5>
      <hr>
      <p class="card-text">Calculate efforts for different deliverables</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

  <div class="card border-info cardShadow">
    <img class="card-img-top" src="../../assets/web_developer.jpg" alt="Card image cap" style="max-height:150px;">
    <div class="card-body">
      <h5 class="card-title">Developer(s) Availability</h5>
      <hr>
      <p class="card-text">Calculate efforts for different deliverables</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

</div>
</div>
<div class="col-sm-1"></div>
</div>