<div class="container-fluid ">
    <!-- <div class="col-sm-1"></div> -->
    <!-- <div class="col-sm-10 align-middle"> -->
        <div class="card-deck">
            <!-- <div class="row"></div> -->
            <div class="card border-info cardShadow">
                <img class="card-img-top border-info" src="../../assets/projectStatus.jpg" alt="Card image cap" style="max-height:150px;">
                <div class="card-body">
                    <h5 class="card-title">Project Status</h5>
                    <hr>
                    <p class="card-text">Update the daily project status.</p>
                    <button class="btn btn-primary btn-sm" routerLink="/projectDetails">Dashboard</button>
                </div>
            </div>
            <div class="card border-info cardShadow">
                <img class="card-img-top border-info" src="../../assets/Tech_Links.jpg" alt="Card image cap" style="max-height:150px;">
                <div class="card-body">
                    <h5 class="card-title">Knowledge Centre</h5>
                    <hr>
                    <p class="card-text">Develop your knowledge and Share with others</p>
                    <button class="btn btn-primary btn-sm" routerLink="/resourceCentre">Take me there</button>

                </div>
            </div>
            <div class="card border-info cardShadow">
                <img class="card-img-top border-info" src="../../assets/effort_calculator.jpg" alt="Card image cap" style="max-height:150px;">
                <div class="card-body">
                    <h5 class="card-title">Effort Calculator</h5>
                    <hr>
                    <p class="card-text">Calculate efforts for different deliverables</p>

                </div>
            </div>

            <div class="card border-info cardShadow">
                <img class="card-img-top border-info" src="../../assets/developer.png" alt="Card image cap" style="max-height:150px;">
                <div class="card-body">
                    <h5 class="card-title">Developer(s) Availability</h5>
                    <hr>
                    <p class="card-text">Check develpers availability for projects</p>

                </div>
            </div>

        </div>
    <!-- </div> -->
    <!-- <div class="col-sm-1"></div> -->
</div>