<div class="container-fluid ">
    <!-- <div class="col-sm-1"></div> -->
    <!-- <div class="col-sm-10 align-middle"> -->
    <div class="card-deck">
        <!-- <div class="row"></div> -->
        <div class="card border-info cardShadow">
            <img class="card-img-top border-info" src="../../assets/projectStatus.jpg" alt="Card image cap" style="max-height:150px;">
            <div class="card-body">
                <h5 class="card-title">Project Tracker</h5>
                <hr>
                <p class="card-text">Update the daily project status.</p>
                <button class="btn btn-primary btn-sm" routerLink="/projectDetails">Dashboard</button>
            </div>
        </div>

        <div class="card border-info cardShadow">
            <img class="card-img-top border-info" src="../../assets/developer.png" alt="Card image cap" style="max-height:150px;">
            <div class="card-body">
                <h5 class="card-title">Developer(s) Availability</h5>
                <hr>
                <p class="card-text">Check develpers availability for projects</p>
            </div>

        </div>


        <div class="card border-info cardShadow">
            <img class="card-img-top border-info" src="../../assets/Tech_Links.jpg" alt="Card image cap" style="max-height:150px;">
            <div class="card-body">
                <h5 class="card-title">Knowledge Centre</h5>
                <hr>
                <p class="card-text">Develop your knowledge and Share with others</p>
                <button class="btn btn-primary btn-sm" routerLink="/resourceCentre">Take me there</button>

            </div>
        </div>
        <div class="card border-info cardShadow">
            <img class="card-img-top border-info" src="../../assets/effort_calculator.jpg" alt="Card image cap" style="max-height:150px;">
            <div class="card-body">
                <h5 class="card-title">Effort Calculator</h5>
                <hr>
                <p class="card-text">Calculate efforts for different deliverables</p>

            </div>
        </div>


    </div>
    <!-- </div> -->
    <!-- <div class="col-sm-1"></div> -->

</div>

<!-- 
<section id="team" class="pb-5">
    <div class="container-fluid">
        <h5 class="section-title h2">developer availability</h5>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-2">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card cardShadow" style="border:1px solid green;">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../../assets/Dharaneesha.jpg" alt="card image"></p>
                                    <h5 class="card-title nameTitle" style="margin:5px;">Dharaneesha Chandrashekar</h5>
                                    <p class="card-text text-center" style="font-size:14px;"><i class="fa fa-star"></i><i class="fa fa-star"> </i><i class="fa fa-star"> </i></p>

                                    <p class="card-text text-left" style="font-size:12px;"><b>Designation:</b> Web Designer</p>
                                    <p class="card-text text-left" style="font-size:12px;"><b>BU:</b> EMCE(POR)</p>
                                    <p class="card-text text-left" style="font-size:12px;"><b>RM:</b> Shivakumar Gowda</p>
                                    <hr>
                                    <p class="card-text text-left" style="font-size:12px;"><b>HTML5 &amp; CSS3:</b> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"> </i></p>

                                </div>

                                <div class="card-footer" style="background-color:green;  padding:5px; ">
                                    <p class="card-text text-center" style="font-size:14px; color:white;"><b>Availability : YES</b></p>
                                                                  </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card border-info cardShadow">
                                <div class="card-body text-center mt-4">
                                    <h5 class="card-title h5">Other Skillsets</h5>
                                    <p class="card-text text-left" style="font-size:12px;"><b>Bootstrap:</b> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></p>
                                    <p class="card-text text-left" style="font-size:12px;"><b>Javascript:</b> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"> </i></p>
                                </div>
                                <div class="card-footer" >

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





            <div class="col-xs-12 col-sm-6 col-md-2">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card  cardShadow" style="border:1px solid red;">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../../assets/Dharaneesha.jpg" alt="card image"></p>
                                    <h5 class="card-title nameTitle" style="margin:5px;">Dharaneesha Chandrashekar</h5>
                                    <p class="card-text text-center" style="font-size:14px;"><i class="fa fa-star"></i><i class="fa fa-star"> </i><i class="fa fa-star"> </i></p>

                                    <p class="card-text text-left" style="font-size:12px;"><b>Designation:</b> Web Designer</p>
                                    <p class="card-text text-left" style="font-size:12px;"><b>BU:</b> EMCE(POR)</p>
                                    <p class="card-text text-left" style="font-size:12px;"><b>RM:</b> Shivakumar Gowda</p>
                                    <hr>
                                    <p class="card-text text-left" style="font-size:12px;"><b>HTML5 &amp; CSS3:</b> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"> </i></p>

                                </div>
                                <div class="card-footer" style="background-color:red;  padding:5px; ">
                                    <p class="card-text text-center" style="font-size:14px; color:white;"><b>Availability : NO</b></p>
                                                                  </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card border-info cardShadow">
                                <div class="card-body text-center mt-4">
                                    <h5 class="card-title h5">Other Skillsets</h5>
                                    <p class="card-text text-left" style="font-size:12px;"><b>Bootstrap:</b> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></p>
                                    <p class="card-text text-left" style="font-size:12px;"><b>Javascript:</b> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"> </i></p>
                                </div>
                                <div class="card-footer">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section> -->